*{
    list-style: none;
    font-family: 微软雅黑;
}
.footer{
    width: 100%;
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: normal;
    background-color: #f2f2f2;
    color: #666;
    overflow: hidden;
    position: relative;
    z-index: 1;
    direction: ltr;
    font-feature-settings: "liga", "kern";
    font-synthesis: none;
    text-align: left;
    text-rendering: optimizelegibility;
}
.footer .content{
    width:72.6464%;
    margin: 0 auto;
}
.yd{
    border-bottom: 1px solid #e3e3e3;
    color: #999;
    padding: 16px 0 11px;
}
.yd ul li{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.33333;
    padding-bottom: 5px;
}
.f_list{
    width:100%;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.66667;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}
.f_list_cont{
    float: left;
    margin: 0;
    min-height: 2px;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 20%;
}
.flcc h3 {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.66667;
    margin: 0;
}
.flcc2{
    padding-top: 20px;
}
.f_list_cont_c{
    display: block;
    pointer-events: auto;
}
.f_list_cont_c li a{
    color: #666;
    font-size: 11px;
    text-decoration: none;
}
.f_list_cont_c li a:hover{
    color: #333333;
    text-decoration: underline;
}
.f_bottom{
    display: block;
    color: #999;
    padding: 20px 0 24px;
}
.ac-gf-footer-shop {
    margin-bottom: 6px;
    max-height: 9999px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
}
.nowrap {
    display: inline-block;
    text-decoration: inherit;
}
.ac-gf-footer-shop a {
    color: #0070c9;
    text-decoration: none;
}
.ac-gf-footer-shop a:hover{
    color: #333333;
    text-decoration: underline;
}
.ac-gf-footer-locale {
    float: right;
    white-space: nowrap;
}
.ac-gf-footer-locale-link {
    display: inline;
    color: #666;
    text-decoration: none;
}
.ac-gf-footer-locale-link span{
    background-image: url("../images/zg.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 16px;
    margin-top: 1px;
    padding-right: 5px;
    width: 16px;
}
.ac-gf-footer-legal-copyright{
    max-height: 9999px;
    float: left;
    margin-right: 26px;
}
.ac-gf-footer-legal-links {
    float: left;
    margin-right: 26px;
}
.ac-gf-footer-legal-link {
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    white-space: nowrap;
    color: #666;
    text-decoration: none;
}
.ac-gf-footer-legal-link:hover{
    color: #333333;
    text-decoration: underline;
}
.f_p a{
    text-decoration: none;
}
.f_p a:hover{
    text-decoration: underline;
}
.content2{
    display: none;
}
@media screen and (max-width: 726px){
    .content{
        display: none;
    }
    .content2{
        display:block;
        margin-left: 10px;
    }
    .yd2 ul li{
        font-size: 10px;
    }
    .f_list2 {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 2.5;
        padding-top: 20px;
        position: relative;
        z-index: 1;
    }
    .f_list_cont2 {
        margin: 0;
        min-height: 2px;
        padding: 0 ;
        position: relative;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid #e3e3e3;
        overflow: hidden;
        pointer-events: auto;
        cursor: pointer;
    }
    .f_list_cont2 .flcc{
        margin-left: 10px;
        padding-top: 15px;
        float: left;
    }
    .content2 .flcc h3{
        color: #474747;
    }
    .jia{
        float: right;
        color: #403A33;
        text-decoration: none;
    }
    .jia span{
        display: block;
        margin-right: 20px;
        font-size: 20px;
        color: #403A33;
        transition: all 0.25s;
    }
    .f_bottom .ac-gf-footer-locale2 {
        float: left;
        white-space: nowrap;
    }
    .f_list2_con{
        left: 0;
        margin: 0;
        overflow: hidden;
        padding-bottom: 16px;
        top: 100%;width: 100%;
        display: none;
    }
    .f_list2_con_l a{
        display: block;
        outline-offset: -6px;
        padding: 0 14px;
        color: #666;
        font-size: 11px;
        text-decoration: none;
    }
    .f_list2_con_l a:hover{
        color: #333;
        text-decoration: underline;
    }
}
