/*第一个导航*/
.top{
    width:100%;
    height:44px;
    background: #000;
}
.c-top{
    background: #000;
    height:100%;
    text-align: justify;
    vertical-align: middle;
    padding: 0 15px;
    user-select: none;
    cursor: default;
    position: relative;
}
.c-top:after{
    content: '';
    display: inline-block;
    width: 100%;
}
.top-nav{
    width: 11%;
    text-decoration: none;
    height:44px;
    line-height: 44px;
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
}
.top-nav:hover{
    color: #999;
}
.bag{
    position: relative;
}
.bag-inner{
    width: 290px;
    height:325px;
    background: #fff;
    position: absolute;
    left:-70%;
    top:120%;
    display: none;
}
.bag-inner.active{
    display: block;
}

.sanjiao{
    width: 14px;
    height:14px;
    background: #fff;
    position: absolute;
    left: 48%;
    top:46px;
    transform: rotate(45deg);
    display: none;
}
.sanjiao.active{
    display: block;
}
.bag-inner p{
    color: #999;
    line-height: 90px;
    margin: 0;
    text-align: center;
    font-size: 14px;
}
.bn_nav {
    margin-bottom: 7px;
}
.bn_nav_list{
    border-top: 1px solid #e3e3e3;
    cursor: pointer;
}
/*.bn_nav_list .bnl_i{*/
    /*color: #0070c9;*/
    /*float: left;*/
    /*padding-left: 20px;*/
    /*font-size: 16px;*/
/*}*/
.bn_nav_list span{
    color: #0070c9;
    float: left;
    display: block;
    width: 100%;
    line-height: 44px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 200px 0 10px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bn_nav_list:nth-child(2){
    padding: 0 230px 0 10px;
}
.bn_nav_list:nth-child(3){
    padding: 0 230px 0 10px;
}
.bn_nav_list:nth-child(4){
    padding: 0 230px 0 10px;
}
.bn_nav_list:nth-child(5){
    padding: 0 230px 0 10px;
}
.bn_nav_list span:hover{
    text-decoration: underline;
}
.input-box{
    width: 680px;
    height:44px;
    display: none;
    position: absolute;
    left: 170px;
    top:0;
    opacity:0.5;
    transform: translateX(40px);
}
.input-left{
    width: 44px;
    height:44px;
    text-align: center;
    line-height: 44px;
    color: #eee;
    float: left;
}
.input-right{
    float: left;
    width:636px;
    height:44px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size:14px;
    color: #eee;
}
.closebtn{
    width: 44px;
    height:44px;
    color:#eee;
    text-align: center;
    line-height: 44px;
    position: absolute;
    top:0;
    right: 60px;
    display: none;
}
.closebtn.active{
    display: block;
    opacity: 1;
}
.searchlist{
    width: 680px;
    height:200px;
    background: #fff;
    position: absolute;
    left:170px;
    top:42px;
    z-index: 99;
    display: none;
}
.searchlist span{
    display: block;
    font-size: 12px;
    color: #9F9C9E;
    padding: 30px 50px 10px 170px;
    opacity: 0;
}
.searchlist a{
    display: block;
    width: 100%;
    height:30px;
    color: #9F9C9E;
    line-height: 30px;
    font-size: 14px;
    padding-left: 170px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
}
.searchlist a:hover{
    color: #1D7BCB;
    background: #F2F2F2;
}
.nav2{
    display: none;
}
@font-face {font-family: 'iconfont';
    src: url('../icon/iconfont.eot'); /* IE9*/
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon{
    font-family:"iconfont" !important;
    font-size:24px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*第二个导航*/
@media screen and (max-width: 735px){
    .c-top{
        display: none;
    }
    .nav2{
        display: block;
    }
    .top-nav2{
        float: left;
        text-decoration: none;
        height:44px;
        line-height: 44px;
        display: inline-block;
        color: #fff;
        text-align: center;
        font-family: "微软雅黑";
        font-size: 24px;
        width: 33.333%;
        margin: 0 auto;
    }
    .top-nav2:nth-child(1){
        padding-right: 20%;
    }
    .top-nav2:nth-child(3){
        padding-left: 20%;
        transition: all 0.5s;
    }
    .top-nav2 a{
        text-decoration: none;
        color: #fff;
    }
    .top-nav2:hover{
        color: #999;
    }
    .top-nav2:hover .line{
        background: #999;
    }
    .line1{
        width: 20px;
        height: 1px;
        background:#fff;
        margin: 0 auto;
        margin-top: 20px;
        transition: all 1s;
    }
    .line2{
        width: 20px;
        height: 1px;
        background:#fff;
        margin: 8px auto;
        transition: all 1s;
    }
    .nav2_lists{
        width: 100%;
        height:100%;
        background: #000;
        position: relative;
        top:39px;
        display: none;
        z-index: 99;
    }
    .nav2_lists li{
        width: 90%;
        margin: 0 30px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        border-bottom: 1px solid #333;
    }
    .nav2_lists li:nth-child(7){
        border-bottom: 1px solid #fff;
    }
    .nav2_lists li a,.nav2_lists li span,.nav2_input{
        height: 48px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 2.35;
        color: #fff;
        opacity: 1;
        position: relative;
        text-decoration: none;
        transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        white-space: nowrap;
        z-index: 99;
    }
    .nav2_li_input{
        width: 100%;
        height:100%;
        background: #000;
        position: relative;
        top:39px;
        display: none;
        z-index: 99;
    }
    .nav2_li_input_top{
        width: 90%;
        margin: 0 30px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        border-bottom: 1px solid #fff;
    }
    .nav2_li_input_top i{
        float: left;height: 48px;
        font-size: 20px;
        color: #fff;
        line-height: 48px;
    }
    .nav2_input{
        float: left;
        width: 90%;
        background: #000;
    }
    .nav2_li_input p{
        margin: 20px 30px 10px;
        color: #707070;
        font-size: 12px;
    }
    .nav2_li_input_lists{
        margin: 0 30px;
    }
    .nav2_li_input_lists li{
        width: 90%;
        margin: 0 30px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        border-bottom: 1px solid #333;
        cursor: pointer;
    }
    .nav2_li_input_lists li:last-child{
        border-bottom:0;
    }

    .nav2_li_input_lists li a{
        display: inline-block;
        height: 48px;
        width: 100%;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 48px;
        opacity: 1;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        z-index: 99;
        color: #ccc;
        font-size: 14px;
    }
    .nav2_li_input_lists li a:hover{
        color: #63BBFA;
    }
    .shou{
        color: #fff;
        font-size: 40px;
        position: absolute;
        top:-30px;
        left: 50%;
        cursor: pointer;
    }
    .top-nav2 .sanjiao{
        left:75%;
    }
    .top_nav2 .bag-inner{
        left:-100%;
    }
}